# get these credentials by going to
# https://beta.developer.spotify.com/dashboard/applications
# creating a new non-commercial app, and getting its id and secret
# also make sure that in its settings, the redirect uri is set to
# 'http://localhost/'
USER_EMAIL = ''
CLIENT_ID = ''
CLIENT_SECRET = ''
# if you don't know what playlist id you want to use as your In Rotation
# playlist, fill out the information above and run python get_playlist_id.py
# to get the one below
PLAYLIST_ID = ''
# this is the dir where the log will be written to. must be absolute path if
# you're running in cron
LOG_PATH = ''
